<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
        /* <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> */
    </style>
</head>
<body>
    <div class="container">
        <div class="top-part">

            <header class="header-recherche">
                <div class="top-content">
                    <p>Reserv'<span class="eat-bold">Eat</span></p>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" className="size-6">
                        <path fillRule="evenodd" d="M18.685 19.097A9.723 9.723 0 0 0 21.75 12c0-5.385-4.365-9.75-9.75-9.75S2.25 6.615 2.25 12a9.723 9.723 0 0 0 3.065 7.097A9.716 9.716 0 0 0 12 21.75a9.716 9.716 0 0 0 6.685-2.653Zm-12.54-1.285A7.486 7.486 0 0 1 12 15a7.486 7.486 0 0 1 5.855 2.812A8.224 8.224 0 0 1 12 20.25a8.224 8.224 0 0 1-5.855-2.438ZM15.75 9a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0Z" clipRule="evenodd" />
                    </svg>  
                </div>
                <div class="search-bar">
                    <svg id="search-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" className="size-6">
                        <path fillRule="evenodd" d="M10.5 3.75a6.75 6.75 0 1 0 0 13.5 6.75 6.75 0 0 0 0-13.5ZM2.25 10.5a8.25 8.25 0 1 1 14.59 5.28l4.69 4.69a.75.75 0 1 1-1.06 1.06l-4.69-4.69A8.25 8.25 0 0 1 2.25 10.5Z" clipRule="evenodd" />
                    </svg>  
                    <input id="search-bar" type="text" placeholder="Rechercher...">
                </div>
            </header>
            <div class="categories">
                <h2>Catégories populaires</h2>
                <ul class="tags">
                    <li>Japonais</li>
                    <li>Pizza</li>
                    <li>Japonais</li>
                    <li>Pizza</li>
                    <li>Pizza</li>
                    <li>Pizza</li>
                </ul>
            </div>
        </div>

        <div class="results">
            <h2>Résultats</h2>
            <div class="restaurants">
                {% for restaurants in restaurants %}
                <div class="restaurant">
                    <img src="./img/sushi.png" alt="">
                    <div class="infos">
                        <div class="main-infos">
                            <p>{{ restaurants[2] }}</p>
                            <span>{{ localisations[loop.index0] }} m</span>
                        </div>
                        <div class="seats">
                            <img src="./img/chair-icon.png" alt="icone-de-chaise">
                            <p>30 places disponibles</p>
                        </div>
                    </div>
                </div>
                <div class="restaurant">
                    <img src="./img/sushi.png" alt="">
                    <div class="infos">
                        <div class="main-infos">
                            <p>Sushi Rouen</p>
                            <span>200m</span>
                        </div>
                        <div class="seats">
                            <img src="./img/chair-icon.png" alt="icone-de-chaise">
                            <p>30 places disponibles</p>
                        </div>
                    </div>
                </div>
                <div class="restaurant">
                    <img src="./img/sushi.png" alt="">
                    <div class="infos">
                        <div class="main-infos">
                            <p>Sushi Rouen</p>
                            <span>200m</span>
                        </div>
                        <div class="seats">
                            <img src="./img/chair-icon.png" alt="icone-de-chaise">
                            <p>30 places disponibles</p>
                        </div>
                    </div>
                </div>
                <div class="restaurant">
                    <img src="./img/sushi.png" alt="">
                    <div class="infos">
                        <div class="main-infos">
                            <p>Sushi Rouen</p>
                            <span>200m</span>
                        </div>
                        <div class="seats">
                            <img src="./img/chair-icon.png" alt="icone-de-chaise">
                            <p>30 places disponibles</p>
                        </div>
                    </div>
                </div>
                <div class="restaurant">
                    <img src="./img/sushi.png" alt="">
                    <div class="infos">
                        <div class="main-infos">
                            <p>Sushi Rouen</p>
                            <span>200m</span>
                        </div>
                        <div class="seats">
                            <img src="./img/chair-icon.png" alt="icone-de-chaise">
                            <p>30 places disponibles</p>
                        </div>
                    </div>
                </div>
                <div class="restaurant">
                    <img src="./img/sushi.png" alt="">
                    <div class="infos">
                        <div class="main-infos">
                            <p>Sushi Rouen</p>
                            <span>200m</span>
                        </div>
                        <div class="seats">
                            <img src="./img/chair-icon.png" alt="icone-de-chaise">
                            <p>30 places disponibles</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

        <script src="main.js"></script>
    </div>
</body>
</html>

<!-- <div class="restaurants">
    {% for i in range(restaurants|length) %}
    <div class="restaurant">
        <img src="" alt="">
        <div class="txt-content">
            <p class="title">{{ restaurants[i][2] }}</p>
            <p class="description">courte description sur le restaurant</p>
        </div>
        <ul class="informations">
            <li class="localisation">
                <p>{{ localisations[i] }} m</p>
                <img src="path/to/localisation-icon.png" alt="">
            </li>
            <li class="seats">
                <p>13</p>
                <img src="path/to/seats-icon.png" alt="">
            </li>
        </ul>
    </div>
    {% endfor %}
</div> -->
