<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <button class="reservation">Réserver une table</button>
        <header class="header-restau">
            <div class="arrow"></div>
            <p class="logo-reserv">Reserv'<span class="eat-bold">Eat<span></p>
        </header>
        <!-- <div class="restaurant-image"></div> -->
        <img class="restaurant-img" src="img/img2.png" alt="">
        <div class="infos-content">
            <div class="main">
                <h1>Sushi Rouen</h1>
                <ul class="distance">
                    <img src="" alt="localization-icon">
                    <p>200m</p>
                </ul>
            </div>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. A recusandae explicabo provident saepe deserunt, accusantium, illum veniam repellendus vero illo, eos nemo. Error corporis nam commodi dolore quae omnis temporibus.</p>
        </div>
        <div class="card">
            <h2>Carte</h2>
            <ul class="meals">
                <li class="meal">
                    <img src="" alt="">
                    <p class="price">€12.99</p>
                </li>
                <li class="meal">
                    <img src="" alt="">
                    <p class="price">€12.99</p>
                </li>
                <li class="meal">
                    <img src="" alt="">
                    <p class="price">€12.99</p>
                </li>
                <li class="meal">
                    <img src="" alt="">
                    <p class="price">€12.99</p>
                </li>
                <li class="meal">
                    <img src="" alt="">
                    <p class="price">€12.99</p>
                </li>
                <li class="meal">
                    <img src="" alt="">
                    <p class="price">€12.99</p>
                </li>
            </ul>
        </div>
    </div>
    <!-- container ? -->

    <style>
        body{
            background-color: white;
        }
    </style>
</body>
</html>