/* *,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 100%;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

body, h1, h2, h3, h4, h5, h6, p, figure, blockquote, dl, dd {
    margin: 0;
} */

/* body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: inherit;
}

ul, ol {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

input, button, textarea, select {
    font: inherit;
} */

/* @media (prefers-reduced-motion: reduce) {
    * {
        animation: none;
        transition: none;
        scroll-behavior: auto;
    }
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    background-color: black;
} */

/* .header {
    top: 10px;
    left: 10px;
    font-size: 24px;
    font-weight: bold;
    color: white;
}

.container {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95vw;
    margin-top: 5%;
    margin-bottom: 5%;
} */

/* Page de connexion */

/* .main-img{
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%), 
    url('img/connexion.png');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
}

.buttons {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 12px;
}
.buttons button {
    height: 8vh;
    width: 85vw;
    border-radius: 15px;
    cursor: pointer;
    font-weight: 800;
} */
/* .signup-btn {
    background-color: unset;
    border: solid #4ea991 1px;
    color: white;
    border-radius: 5px;
}
.login-btn {
    background-color: #4ea991;
    color: white;
    border-radius: 5px;
    color: black;
    font-weight: 900;
}

.txt-content h1{
    color: white;
    margin: 0;
}
.txt-content p{
    color: grey;
}

.green-txt{
    color: #4ea991;
} */

/* Page Home */

/* .search-bar{

}

.restaurants{

}

.restaurants .restaurant{
    
}

/* Page Restaurant */

/* .reservation{
    background-color: #4ea991;
    width: 80vw;
    position: fixed;
    top: 90%;
    box-shadow: 0px 0px 23px 5px rgba(0,0,0,0.4);
} */

/* .header-restau{
    color: black;
    display: flex;
    justify-content: space-between;
}
.restaurant-img{
    width: 100vw;
    z-index: 2;
    border-bottom-left-radius: 20px ;
    border-bottom-right-radius: 20px;
}

.infos-content{
    background-color: white;
    z-index: 1;
    width: 100vw;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
} */

/* .infos-content .main{
    display: flex;
    justify-content: space-between;
}

.infos-content .main .distance{
    display: flex;
}

.logo-reserv{
    color: white;
}
.eat-bold{
    font-weight: 900;
}

.card{
    background-color: gray;
    z-index: 0;
    width: 100vw;
}

.card .meals{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
} */

/* .card .meals .meal{
    width: 33%;
    height: auto;
    background: url('img/connexion.png');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    position: relative;
}
.card .meals .meal .price{
    position: absolute;
    color: black;
    background-color: white;
    top: 100%;
    left: 100%;
    border-top-left-radius: 20px;
} */

/*  */

/* .tags{

}

.tags .tag{
    
} */

/* !!! */

body{
    background-color: #f2f2f2;
    padding: 0;
    margin: 0;
}

.top-part{
    background-color: white;
}

h1,h2,h3,p,span,li{
    font-family: "Inter", sans-serif;
}

.header-recherche{
    background-color: #1F1F1F;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 2%;
    display: flex;
    flex-direction: column;
    gap: 20px;

    padding-top: 4%;
    padding-bottom: 6%;
}

.header-recherche .top-content{
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-recherche .top-content p{
    color: white;
    margin: 0;
}
.header-recherche .top-content svg{
    width: 8vw;
    color: #34D2A9;
}
.header-recherche .top-content .eat-bold{
    font-weight: 700;
}

.search-bar{
    position: relative;
}
.search-bar input{
    background-color: #323232;
    border-radius: 5px;
    border: none;
    padding: 2%;
    width: 88%;
    margin: 0;
    margin-left: 5%;
    margin-right: 5%;
    color: white;
}
.search-bar input::placeholder{
    color: #9F9F9F;
    padding-left: 9%;
}
.search-bar input:focus{
    border: none;
    outline: unset;
}
/* .search-bar p{
    color: rgb(166, 166, 166);
} */
.search-bar svg{
    position: absolute;
    width: 4vw;
    color: #9F9F9F;
    top: 21%;
    left: 8%;
}

.categories{
    display: flex;
    flex-direction: column;
    background-color: white;
    gap: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-top: 4%;
    padding-bottom: 4%;
}
.categories h2{
    color: black;
    margin: 0;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 5vw;
}
.categories .tags{
    display: flex;
    gap: 10px;
    padding: 0;
    margin: 0;
    margin-left: 5%;
    margin-right: 5%;
    overflow: hidden;
}
.categories .tags li{
    background-color: #1F1F1F;
    border-radius: 10px;
    padding: 2% 3%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4vw;
}

.results{
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 4%;
    padding-bottom: 4%;
}

.results h2{
    color: black;
    margin: 0;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 5vw;
    
    padding-top: 4%;
    gap: 10px;

}

.results .restaurants{
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.results .restaurants .restaurant{
    display: flex;
    flex-direction: row;
    background-color: white;
    height: 20vw;
    border-radius: 6px;
}

.results .restaurants .restaurant img{
    /* width: 20vw; */
    height: 100%;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}
.results .restaurants .restaurant .infos{
    display: flex;
    flex-direction: column;
    padding: 2% 4%;
    width: 100%;
    justify-content: space-between;
}
.results .restaurants .restaurant .infos .main-infos{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.results .restaurants .restaurant .infos .main-infos p{
  font-weight: 700;  
  margin: 0;
}
.results .restaurants .restaurant .infos .main-infos span{
    font-weight: 600;
}

.results .restaurants .restaurant .infos .seats{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 5px;
}
.results .restaurants .restaurant .infos .seats img{
    /* width: 6vw;
    height: 4vh; */
    width: 20px;
    height: 17px;
}
.results .restaurants .restaurant .infos .seats p{
    margin: 0;
}


/* Responsive */

@media (max-width: 600px) {
}

@media (min-width: 601px) and (max-width: 768px) {
}

@media (min-width: 769px) and (max-width: 1024px) {
}

@media (min-width: 1025px) and (max-width: 1200px) {
}

@media (min-width: 1201px) and (max-width: 1600px) {
}

@media (min-width: 1601px) {
}